package components

templ Notification(msg string) {
	@NotificationStyle()
	<div class="notification notification_success">{ msg }</div>
}

templ NotificationStyle() {
	<style>
        .notification {
            width: 100%;
            padding: 30px;
            color: var(--color-primary-white);
            font-size: 16px;
        }
        .notification_success {
            background-color: #31b4a3;
            border-radius: 20px;

        }
    </style>
}
