<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Страница</title>
</head>

<body>
    {{.Count}} - users count
    <br />
    {{if .IsAdmin}}
    <p>You're admin</p>
    {{else}}
    <p>You're not admin</p>
    {{end}}
    <br />
    {{if eq .Count 0}}
    <p>Пользователей нет</p>
    {{ else if lt .Count 10}}
    <p>Пользователей меньше 10</p>
    {{else}}
    <p>Пользователей 10 или более</p>
    {{end}}
    <br />
    {{if and .IsAdmin .CanUse}}
    <p>Доступ разрешен и админ</p>
    {{else}}
    {{end}}
</body>

</html>